<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/headComponent">
</head>
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">

<div th:replace="~{components/header :: header (activePage = 'error')}"></div>

<main class="w-100 d-flex flex-column justify-content-center">
    <div class="text-center">
        <h1 th:text="'An error occurred (' + ${status} + ')'"></h1>
        <h2 th:text="${message}"></h2>
    </div>
</main>

<div th:replace="components/footer :: footer"></div>

</body>
</html>
