<!--/*@thymesVar id="currentUser" type="org.carpenoctemcloud.account.Account"*/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{components/headComponent}">
</head>
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
<!-- nav -->
<div th:replace="~{components/header :: header (activePage = 'profile')}"></div>

<main class="flex-column flex-grow-1 d-flex p-5">
    <div class="my-2 w-75 mx-auto" th:unless="currentUser == null">
        <h4 th:text="'Welcome, ' + ${currentUser.name()} + '!'"></h4>
        <p><strong>Email: </strong> <span th:text="${currentUser.email()}"></span></p>
        <div class="my-4">
            <h5>Starred files</h5>
            <div class="flex-column justify-content-center overflow-auto" style="max-height: 500px;">
                <div th:each="result : ${starredFiles}">
                    <div th:replace="~{components/searchResult :: result(resultRef=${result}, categories=${categories})}"></div>
                </div>
                <div th:if="${starredFiles.isEmpty()}">
                    <h6>You have not starred a file yet...</h6>
                </div>
            </div>
        </div>
        <div class="my-4">
            <h5>Recently downloaded files</h5>
            <div class="flex-column justify-content-center overflow-auto" style="max-height: 500px;">
                <div th:each="result : ${recentDownloads}">
                    <div th:replace="~{components/searchResult :: result(resultRef=${result}, categories=${categories})}"></div>
                </div>
                <div th:if="${recentDownloads.isEmpty()}">
                    <h6>You have not downloaded anything yet...</h6>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- footer -->
<div th:replace="~{components/footer :: footer}"></div>

</body>
</html>