<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="components/headComponent">
</head>
<body data-bs-theme="dark" class="d-flex flex-column min-vh-100">
<!-- nav -->
<div th:replace="~{components/header :: header (activePage = 'explorer')}"></div>

<main class="flex-column flex-grow-1 d-flex p-5">
    <div class="my-2 w-75 mx-auto">
        <h1>Servers</h1>
        <div class="flex-column justify-content-center">
            <div th:each="server : ${servers}">
                <div th:replace="~{components/resultBar :: resultBar(link=${'/file-system/server/' + server.id()}, text=${server.host()}, icon=@{/img/server.svg})}"></div>
            </div>
        </div>
    </div>
</main>

<!-- footer -->
<div th:replace="~{components/footer :: footer}"></div>

</body>
</html>